# ================================
# Python
# ================================

__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build
build/
dist/
*.egg-info/

# Logs
*.log

# ================================
# Datasets
# ================================

Project1_FakeNewsDetection/data/*.csv
Project2_PhishingDetection/data/*.csv

# Keep the folders
!Project1_FakeNewsDetection/data/.gitkeep
!Project2_PhishingDetection/data/.gitkeep